<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	
 
<connectionStrings><add name="AlquilerVehiculosEntities" connectionString="metadata=res://*/DAL.AlquilerVehiculosModel.csdl|res://*/DAL.AlquilerVehiculosModel.ssdl|res://*/DAL.AlquilerVehiculosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AlquilerVehiculos;persist security info=True;user id=usuario12;password=Alquiler2026!;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>